name: CI_pipeline

on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v5

      - name: Set up Node js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: install dependenccies
        run: npm install

      - name: run tests
        run: npm test
